NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_KICKER=USDCtoFiat on Base
NEXT_PUBLIC_INTEGRATOR_ID=__INTEGRATOR_ID__
NEXT_PUBLIC_REFERRAL_ID=TODO_SET_REFERRAL_ID
NEXT_PUBLIC_BASE_BUILDER_CODE=bc_srxybeyl
